body, img {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

#navbar {
  padding: 0px;
  background-color: #134170;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  color: #BFBFBF;
  font: 20px arial, sans-serif;
  letter-spacing: 0.05em;
  margin-left: 60px;
  padding: 8px 12px 8px 8px;
  height: 24px;
  width: 376px;
}

#search {
  border: 0px;
  width: 90%;
  font: 20px arial, sans-serif;
  letter-spacing: 0.05em;
  padding-left: 16px;
}

#search:focus {
  outline: none;
}

.search-icon {
  width: 28px;
  height: 28px;
  opacity: 0.65;
}

.search-icon:hover {
  cursor: pointer;
  opacity: 0.9;
}

#logo {
  margin: 8px 0px -6px 0px;
  padding-bottom: 0px;
}

#logo img {
  height: 85px;
}

#logo:hover {
  cursor: pointer;
}

#navbar-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
  width: 376px;
}

.navbar-element {
  font: bold 22px Yu Gothic UI, sans-serif;
  letter-spacing: 0.05em;
  color: white;
  padding: 8px 12px;
}

.navbar-element:hover {
  cursor: pointer;
  background-color: #0A2E52;
}

#navbar2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: black;
}

.navbar2-element a, .navbar-divider {
  font: bold 22px arial, sans-serif;
  letter-spacing: 0.2em;
  color:white;
  padding: 2px 16px 2px 16px;
  text-align: center;
}

.navbar2-element {
  margin: 8px 0px;
}

.navbar2-element a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.navbar-divider {
  cursor: default;
  margin-top: 4px;
}

#content-background {
  background-color: #1A344F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-container {
  background-color: #F9F9F9;
  width: 1080px;
  padding: 80px;
  overflow: hidden;
}

#lyrics-content-container {
  padding-bottom: 20px;
}

#artist-content-container {
  padding-bottom: 0px;
}

.content_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font: 32px Yu Gothic UI, sans-serif;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

#main-content-container {
  padding: 0px 20px;
}

#main-content-container hr {
    opacity: 1;
}

.content-sub-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  font: 30px Yu Gothic UI, sans-serif;
  letter-spacing: 0.06em;
  padding: 24px 0px 4px 0px;
}

.content-title {
  padding: 0px 8px;
}

.search-number {
  padding: 0px 8px;
  font-size: 26px;
}

select {
  font: bold 20px Yu Gothic UI, sans-serif;
  border: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
  -webkit-appearance: none;
  background-color: inherit;
  width: 184px;
  background-position-x: 160px;
  text-align: right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 4px 32px;
}

select:focus {
  outline: none;
}

.filter option {
  background-color: #F9F9F9;
}

hr {
  margin: 0px;
}

.main-hr {
  margin-bottom: 24px;
}

.hit_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 12px;
}

.hit_container:hover {
  background-color: #DADADA;
  cursor: pointer;
}

.hit-left-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.position {
  font: bold 36px Yu Gothic UI, sans-serif;
  width: 48px;
}

.album_image img {
  width: 64px;
  height: 64px;
  border: 2px solid black;
  margin: 0px 8px;
}

.song-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 8px;
}

.song_title {
  font: 32px Yu Gothic UI, sans-serif;
  letter-spacing: 0.06em;
  margin-top: -8px;
}

.search-song-title {
  font: 28px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
  margin-top: -8px;
}

.search-artist-name {
  letter-spacing: 0.02em;
}

.song-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font: 22px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
}

.song-divider {
  font: 20px Yu Gothic UI, sans-serif;
  cursor: inherit;
  padding: 0px 12px;
}

.views-likes-container {
  font: 20px Yu Gothic UI, sans-serif;
  text-align:right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.lyrics-header-info .views-likes-container {
  font: 26px Yu Gothic UI, sans-serif;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
}

.lyrics-header-info .likes img {
  width: 32px;
  height: 32px;
  margin: 0px 12px 0px 0px;
}

.lyrics-header-info .views img {
  width: 32px;
  height: 32px;
  margin: 0px 12px 0px 0px;
}

.views {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.views img {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}

.likes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.likes img {
  width: 28px;
  height: 28px;
  margin-left: 12px;
}

.song_hr {
  opacity: 0.6;
}

.artist-highlights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  position: relative;
  top: -60px;
}

.artist-songs {
  width: 45%;
}

.artist-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding-top: 8px;
}

.artist-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  padding: 24px 24px;
}

.artist-item:hover {
  background-color: #DADADA;
  cursor: pointer;
  transform:scale(1.05);
  transition: 200ms;
}

.artist-img {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  margin: 12px;
}

.artist-name {
  font: 28px Yu Gothic UI, sans-serif;
  letter-spacing: 0.06em;
}

.hero-image-container {
  position:relative;
  top: -87px;
  left: -90px;
  height: 500px;
  width: 1250px;
  overflow:hidden;
}

.background-hero-image {
  width:1260px;
  height:510px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
  filter: blur(5px);
}

.artist-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: -440px;
  left: -80px;
}

.artist-header-image:hover {
  cursor: pointer;
}

.artist-header-image {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  border: 4px solid black;
}

.artist-header-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 24px;
}

.artist-header-info:hover {
  cursor: pointer;
}

.artist-header-name {
  font: bold 36px Yu Gothic UI, sans-serif;
  letter-spacing: 0.06em;
  color: white;
  text-shadow: 2px 2px black;
}

.artist-header-handle {
  font: bold 20px Yu Gothic UI, sans-serif;
  letter-spacing: 0.06em;
  color: white;
  text-shadow: 2px 2px black;
}

.lyrics-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: -24px;
  position: relative;
  top: -120px;
}

.lyrics-header-img {
  width: 220px;
  height: 220px;
  border: 3px solid black;
}

.lyrics-header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 24px 0px 24px;
  font:28px Yu Gothic UI, sans-serif;
  width: 30%
}

.lyrics-header-song-title {
  font: bold 38px Yu Gothic UI, sans-serif;
}

.lyrics-header-album-title {
  margin-top: -4px;
}

.action-items-lyrics {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  height: 160px;
}

.like-action {
  font: 20px Yu Gothic UI, sans-serif;
  background-color: #389BFF;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  margin-top: 8px;
}

.like-action img {
  width: 24px;
  height: 24px;
  filter: invert(1);
  margin: 0px 0px -4px 12px;
}

.like-action:hover {
  cursor: pointer;
  background-color: #317cc7;
}

.like-action:active {
  cursor: pointer;
  transform: scale(1.05);
  transition: 100ms;
}

.email-action {
  font: 20px Yu Gothic UI, sans-serif;
  background-color: #389BFF;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  margin-top: 8px;
}

.email-action img {
  width: 24px;
  height: 15px;
  filter: invert(1);
  margin: 0px 0px 0px 12px;
}

.email-action:hover {
  cursor: pointer;
  background-color: #317cc7;
}

.email-action:active {
  cursor: pointer;
  transform: scale(1.05);
  transition: 100ms;
}

.print-action {
  font: 20px Yu Gothic UI, sans-serif;
  background-color: #389BFF;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  margin-top: 8px;
}

.print-action img {
  width: 24px;
  height: 20px;
  filter: invert(1);
  margin: 0px 0px -4px 12px;
}

.print-action:hover {
  cursor: pointer;
  background-color: #317cc7;
}

.print-action:active {
  transform: scale(1.05);
  transition: 100ms;
}

.correct-action-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -60px;
}

.correct-action {
  font: bold 20px Yu Gothic UI, sans-serif;
  background-color: #389BFF;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  margin-top: 8px;
  width: 216px;
}

.correct-action img {
  width: 24px;
  height: 24px;
  filter: invert(1);
  margin: 0px 0px -4px 12px;
}

.correct-action:hover {
  cursor: pointer;
  background-color: #317cc7;
}

.correct-action:active {
  transform: scale(1.05);
  transition: 100ms;
}

.follow-action-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: -180px;
}

.follow-action {
  font: bold 20px Yu Gothic UI, sans-serif;
  background-color: #389BFF;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
  margin-top: 8px;
}

.follow-action img {
  width: 20px;
  height: 20px;
  filter: invert(1);
  margin: 0px 0px -3px 12px;
}

.follow-action:hover {
  cursor: pointer;
  background-color: #317cc7;
}

.follow-action:active {
  transform: scale(1.05);
  transition: 100ms;
}


#lyrics-sub-header {
  position: relative;
  top: -120px;
}

#lyrics-sub-header-hr {
  position: relative;
  top: -120px;
  width: 60%;
}

.artist-songs .song_title {
  font: 22px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
}

.artist-songs .views-likes-container {
  font: 16px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
}

.artist-albums {
  display:block;
  width: 45%;
}

.artist-albums .album-name {
  font: 18px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
  width: 180px;
  word-wrap: nowrap;
}

.artist-albums hr {
  width: 100%;
}

.artist-albums .album-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 4px;
}

.artist-albums .album-item {
  font: 24px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
  padding: 12px 12px;
  margin-top: 2px;
}

.artist-albums .show-more {
  padding-top: 23px;
}

.album-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.album-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 12px 24px;
  margin-top: 6px;
}

.album-item:hover {
  background-color: #DADADA;
  cursor: pointer;
  transform:scale(1.05);
  transition: 200ms;
}

.album-img {
  width: 180px;
  height: 180px;
  border: 2px solid black;
  margin: 12px;
}

.album-name {
  font: 26px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
}

.album-artist {
  font: 20px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
}

.show-more {
  font: 24px Yu Gothic UI, sans-serif;
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  opacity: 0.65;
}

.show-more:hover {
  cursor: pointer;
  opacity: 1;
}

.show-more img {
  width: 32px;
  height: 24px;
  transform: rotate(180deg);
  padding: 12px;
}

.lyrics-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: -120px;
}

.stanza {
  font: 22px Yu Gothic UI, sans-serif;
  padding: 16px 8px;
}

#first-stanza {
  padding-top: 32px;
}

.line {
  padding: 2px 0px;
}

#artists-container .show-more {
  font: 24px Yu Gothic UI, sans-serif;
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 16px;
}

.lyrics-preview-container {
  width:50%;
  font: 16px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
  height: 68px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}

#navbar-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #134170;
}

.navbar-bottom-element {
  font: bold 22px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
  color: white;
  padding: 8px 12px;
  margin: 12px 12px;
}

.navbar-bottom-element:hover {
  cursor: pointer;
  background-color: #0A2E52;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  background-color: black;
  padding-bottom: 24px;
}

#navbar2-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.navbar2-bottom-element {
  font: bold 22px Yu Gothic UI, sans-serif;
  letter-spacing: 0.04em;
  color: #389BFF;
  padding: 8px 12px;
  margin: 12px 12px;
}

.navbar2-bottom-element:hover {
  text-decoration: underline;
  cursor: pointer;
}

#copyright {
  text-align: center;
  font: 18px Yu Gothic UI, sans-serif;
  letter-spacing: 0.02em;
  color: white;
}
